#include <windows.h>
#include "resource.h"

/* yes I unironically used reshacker to make this. */

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

// Launcher bitmap
IDB_LAUNCHER BITMAP "launcherbitmap.bmp"

IDI_MAIN DIALOGEX 0, 0, 256, 212
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Invasion Earth Launcher"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "MS Sans Serif"
{
   CONTROL "&Launch", IDC_MAIN_LAUNCH, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 191, 50, 11 
   CONTROL "&Exit", IDC_MAIN_EXIT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 190, 50, 11 
   CONTROL "Resolution", 0, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 94, 53, 10 
   CONTROL "", IDC_MAIN_RESOLUTION, "COMBOBOX", CBS_DROPDOWNLIST | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 92, 159, 75 
   CONTROL "Full Screen", IDC_MAIN_FULLSCREEN, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 117, 219, 14 
   // :(
   CONTROL "#1010", IDC_MAIN_LAUNCHERGRAPHIC, "STATIC", SS_BITMAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 12, 160, 80
}

